#parse("/header.html")
<div class='container' ng-app="modelApp" ng-controller="modelListCtrl">
  <section id='commands'>
    <nav>
      <div class='container'>
        <label style="display: inline-block">
          <span>Filter by group:</span>
          <select class='command-reference-filter' ng-options="group.value as group.name for group in commandGroups" ng-model="commandGroup" ng-change="query()">
            <option value=''>All</option>
          </select>
        </label>
        or
        <label style="display: inline-block">
          <span>search for:</span>
          <input autofocus='autofocus' class='js-command-reference-search' placeholder='e.g. GETRANGE' ng-model="commandName" ng-change="query()" />
        </label>
      </div>
    </nav>

    <div>
      <ul>
        <li ng-repeat="command in commandList | orderBy: 'name'" data-group="{{command.group}}" data-name="{{command.name | lowercase}}">
          <a ng-href={{command.href}}>
        <span class='command'>{{command.name}}
          <span class='args'>{{command.args}}</span>
        </span>
            <span class='summary'>{{command.summary}}</span>
          </a>
        </li>
      </ul>
    </div>
  </section>
</div>
#include("/version.html")

#include("/footer.html")
<script src="../js/redis/command_list.js"></script>
</html>