#parse("/header.html")

<div ng-app="modelApp" ng-controller="modelListCtrl">
    <!-- tab-->
    <div class="container">
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#contact_01" data-toggle="tab">Joe Smith</a></li>
                <li>
                    <a href="#contact_02" data-toggle="tab">Molly Lewis</a></li>
                <li>
                    <a href="#" class="add-contact" data-toggle="tab">+ Add Contact</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="contact_01">Contact Form: Joe Smith</div>
                <div class="tab-pane" id="contact_02">Contact Form: Molly Lewis</div></div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row-fluid row">
            <!--sidebar-->
            <div class="span3">
                <div class="well sidebar-nav-fixed">
                    <div>
                        <span style="font-size: 20px">key search:</span>
                        <input style="font-size: 28px;" class="form-control" autofocus='autofocus' placeholder='e.g. '/>
                    </div>
                    <ul class="nav nav-list">
                        <ul class="nav" ng-repeat="database in databaseList">
                            <li><label class="tree-toggle nav-header" ng-click="treeToggle(database)">{{database.name}}</label>
                                <ul class="nav tree" ng-show="database.display">
                                    <li ng-repeat="key in database.keys"><a href="#">{{key}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </ul>

                </div>
            </div>


            <!--maincontent-->
            <div class="span9 span-fixed-sidebar">

                <div class="row-fluid">

                    #include("/key_detail.html")

                </div>
            </div>

        </div>
    </div>
</div>

#include("/version.html")
#include("/footer.html")
<script src="../js/redis/manager.js"></script>
</html>